{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block header-title %}
    Login
{% endblock header-title %}


{% block subjects %}
    <div class="row mt-4">
        <div class="col-12 mt-4 text-center">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}} 
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            
        </div>
    </div>
{% endblock subjects %}
    