{% extends 'base.html' %}

{% block title %}
    {{subject.name}}
{% endblock title %}

{% block header-title %}
    {{subject.name}}
{% endblock header-title %}


{% block subjects %}
    <div class="row mt-4">
        <div class="col-8">
            <p>{{subject.topic}}</p>
            <h3>{{subject.name}}</h3>
            <p>Hosted by {{subject.user}}</p>
            <h5>description</h5>
            <p>{{subject.description}}</p>
            <div>
                <h5>Additional Information</h5>
                {{subject.additional_information|safe}}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5>Available Dates</h5>
                </div>
                <div class="card-body">
                    
                    {% if subject.dates.count > 0 %}
                        <ul>
                            
                            {% for date in subject.dates.all  %}
                                <li><a href="{% url 'confirm-booking' date.id  %}">{{date.learning_date|date:"d-m-Y, G:i"}}</a> </li>
                            {% endfor %}
                                
                        </ul>
                    {% else %}
                        <p>This subject has no dates available</p>
                    {% endif %}
                        
                </div>
            </div>

        </div>
    </div>
{% endblock subjects %}
    