{% extends 'base.html' %}

{% block header-title %}
    My Subjects
{% endblock header-title %}
    

{% block title %}
    My Subjects
{% endblock title %}

{% block subjects %}
<div class="row mt-4">
    <div class="col-sm-2">
        <ul class="list-unstyled">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Subjects</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="card">
            <div class="card-header">My Subjects</div>
            <div class="card-body">
                
                {% for s in object_list  %}
                    <div>
                        <h5>{{s}}</h5>
                        <p>{{s.topic.name}}</p>
                    </div>
                {% endfor %}
                    
            </div>
        </div>
    </div>
</div>
{% endblock  %}