<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        #header-background{
            background-image: url(https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
        }
        #header a:link, #header a:visited{
            color:white;
        }
        a:link,  a:visited{
            color: rgb(53, 53, 53);
        }
    </style>
</head>
<body>
    <div class="container-fluid p-4" id="header-background" >
        <div class="row" id="header">
            <div class="col" id="logo">
                <h4>LearnWith</h4>
            </div>
            <div class="col text-right" id="menu">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="list-inline-item"><a href="{% url 'explore' %}">Explore</a></li>
                    
                    
                    {% if user.is_authenticated %}
                        <li class="list-inline-item"><a href="{% url 'profile' user.id  %}">Profile</a></li>
                        <li class="list-inline-item"><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li class="list-inline-item"><a href="{% url 'account_login' %}">Login</a></li>
                        <li class="list-inline-item"><a href="#" class="btn btn-danger">Signup</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="text-center text-white">
                <h1>{% block header-title %}{% endblock header-title %}</h1>
                <p>
                {% block header-body %}
                    Learn together from your nearby location with other people
                {% endblock header-body %}
                    </p>
            </div>
        </div>
        
    </div>
    <div id="content" class="container">
            
            {% block subjects %}
                
            {% endblock subjects %}
                
        </div>
</body>
</html>