{% extends 'base.html' %}


{% block header-title %}
    Homepage
{% endblock header-title %}
    

{% block title %}
    LearnWith Homepage
{% endblock title %}


{% block subjects %}
<div class="row mt-4">
    <div class="col">
        <h4>Explore Subjects You Can Learn Together</h4>
    </div>
</div>
<div class="row mt-2">
                
    {% if subjects %}
        
        {% for subject in subjects  %}
            <div class="col-sm-3">
                <div class="card h-100">
                    <img class="img-fluid" src="media/{{subject.picture}}" alt="">
                    <div class="card-body">
                        <p class="topic-label" ><small class="text-primary">{{subject.topic}}</small></p>
                        <h5><a href="{% url 'subject-detail' subject.id  %}">{{subject.name}}</a></h5>
                        <p>{{subject.description}}</p>
                    </div>
                    <div class="card-footer">
                        <p><small>Organized by {{subject.user}}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
            
    {% endif %}
        
    
</div>
{% endblock subjects %}
    